<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="InputTextDotString.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="connectionString" connectionString="Password=test;Data Source=VM;User ID=test;"/>
    <add name="TK_CONN" connectionString="Password=zztkq;Data Source=VM;User ID=zztkq;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <applicationSettings>
    <InputTextDotString.Properties.Settings>
      <setting name="InputTextDotString_BaseDataInfo_BaseDataInfo"
        serializeAs="String">
        <value>http://192.168.21.100/igslandservice/BaseDataInfo.asmx</value>
      </setting>
      <setting name="InputTextDotString_Query_Query" serializeAs="String">
        <value>http://192.168.21.100/igslandservice/Query.asmx</value>
      </setting>
      <setting name="InputTextDotString_WebReference_Feature" serializeAs="String">
        <value>http://192.168.21.100/IGSLandService/Feature.asmx</value>
      </setting>
      <setting name="InputTextDotString_Analy_Analy" serializeAs="String">
        <value>http://192.168.21.100/igslandservice/Analy.asmx</value>
      </setting>
    </InputTextDotString.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>